<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <script src="https://webchat-sdk.amitysolutions.com/sdk/ams_sdk.js"></script>
  <script>
    ams_sdk.chat.load({

      // Channel ID generated from step above
      channelId: "zdB7tWXH9z5iKfDYW",

      // Display mode - "full_screen" or "bubble"
      mode: "bubble",

      // Optional display name for user
      displayName: "John Doe",

      // Optional rich menu configuration, see detail below
      richmenuSetting: {
      },

      // Bubble setting when used in "bubble" mode
      bubble: {
      }
    });
  </script>
</body>

</html>
